<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CarModelUpdater</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.CarModelUpdater</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarModelList</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.CarModelList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.VehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.AddVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleList</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.VehicleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriveLogServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.DriveLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuelServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.FuelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.manage.MaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelayServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.util.RelayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>kr.hyosang.cardiary.data.rest.RestServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>Car_diary</servlet-name>
        <servlet-class>kr.hyosang.cardiary.Car_diaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Car_diary</servlet-name>
        <url-pattern>/car_diary</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CarModelUpdater</servlet-name>
        <url-pattern>/manage/CarModelUpdater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/manage/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarModelList</servlet-name>
        <url-pattern>/manage/CarModelList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/manage/AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleList</servlet-name>
        <url-pattern>/manage/VehicleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/Vehicle/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriveLogServlet</servlet-name>
        <url-pattern>/DriveLog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuelServlet</servlet-name>
        <url-pattern>/Fuel/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceServlet</servlet-name>
        <url-pattern>/Maintenance/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelayServlet</servlet-name>
        <url-pattern>/Relay/*</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>